.rotate {
  animation: flip 0.6s ease-in-out;
}

@keyframes flip {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  50% {
    transform: perspective(1000px) rotateY(90deg);
  }
  100% {
    transform: perspective(1000px) rotateY(180deg);
  }
}
* {
  cursor: url('espada.png'), auto !important;
}
